<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Compose</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Compose New Post</h1>
        <form action="/compose" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
            </div>
            <div class="d-flex justify-content-center">

                <button type="submit" class="btn btn-primary">Publish</button>
            </div>
        </form>
        
        <div class="container d-flex justify-content-center">
            
            <a href="/" class="btn btn-primary mb-3 my-3">Home</a>
        </div>
    </div>
</body>
</html>
